<%=  render :partial => 'goadmin'%>

<h1>Редагування будинку та останньго обходу</h1>
 <hr align="center" width="100%" color="#C0C0C0" /> 
<%= render 'form' %>


 <br/>
 <hr align="center" width="100%" color="#C0C0C0" /> 
