<%=  render :partial => 'goadmin'%>

<h1>Новий будинок та обход</h1>

<hr align="center" width="100%" color="#C0C0C0" />
<%= render 'form' %>

</br>
 <hr align="center" width="100%" color="#C0C0C0" /> 
