<%=  render :partial => 'goback'%>
<div align="center">
<div id="error_explanation" >
<h2 style="text-align: center">Жодний запис не містить вашого запросу. Інформацію по об'єкту не знайдено</h2>

</div>
</div>  

