<%=  render :partial => 'allpgo/gocouncil'%>
<h1>Нова рада</h1>
 <hr align="center" width="100%" color="#C0C0C0" />
 <p>
  <b>Герцаївський район</b>

</p>
<%= render 'form' %>
 <hr align="center" width="100%" color="#C0C0C0" />
