<%= link_to 'До списку',  :action => "index", :council => @council.id, :page => getbookpage(@book.id, 5)  %>
<%=  render :partial => 'allpgo/goadmin'%>
<h1>Редагування книги</h1>
 <hr align="center" width="100%" color="#C0C0C0" /> 
<p>
  <b>Рада:</b>
  <%=  @council.name.to_s %>
</p>
<%= render 'form' %>

 <hr align="center" width="100%" color="#C0C0C0" />

