<div align="center">
  <%=render 'new_link'%>
</div>
<hr align="center" width="100%" color="#C0C0C0" />

<%= render 'form' %>

<hr align="center" width="100%" color="#C0C0C0" />

<div align="center">
  <%=render 'new_link'%>
</div>