<div align="center">
  <%= render :partial => 'print_link', :locals => {:arxiv => @arxiv} %>
  <br>
  <%= render :partial => "img", :collection => @imgs %>
  <br>
  <%= render :partial => 'print_link', :locals => {:arxiv => @arxiv} %>
</div>
