<%=  render :partial => 'lands/goadmin'%>

<h1>Редагування обходу</h1>

 <hr align="center" width="100%" color="#C0C0C0" />
<%= render 'form' %>


</br>
 <hr align="center" width="100%" color="#C0C0C0" /> 

